<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mongo-Movies - info</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://kit.fontawesome.com/b5683da958.js" crossorigin="anonymous"></script>
    <style>
        p {
            font-weight: bold;
            width: 50%;
            word-wrap: break-word;
            color: white;
        }
    </style>
</head>
<body>
    <img class="url-button" src="{{ url_for('static', filename='images/home.png') }}" alt="home Button" onclick="window.location.href = '/'">
    <center><h1>About Us</h1>
    <p>We are a free, simple movie service, with no adds, no popups and a simple UI<br>
    loading movies may take up to 30 seconds as its all serverside<br><br>
    How to use the service:<br>
    first enter the title of a movie (shows are not supported)<br>
    click the icon for the movie that you want to watch, thats it! you should be watching a movie!<br><br>
    Extra info:<br>
    getting an error saying that movie cannot be found? try using another source, you can do this by clicking the button below the search bar and selecting the other source in the dropdown, if that doesnt work, it is likely the moive is not on any of our sources<br>
    everything is hosted from one server! this means you dont need to host a backend and frontend (looking at you movie-web you are a pain in the butt to host yourself), all you need is python and 2 non preinstalled packages (requests and flask)
    <br><br>
    Developers:<br> 
    Gabrielzv1233: most the backend. source seletion. movie scrapping. movie not found page. info page, settings button and page<br>
    DeSu: Creator of Consept. movie title fetching. most the css. most of index.html and a decet chunk of the js
</p></center>
</body>
</html>