<!-- Made by Gabrielzv1233 -->
<html>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watching {{title}} on Mongo Movies</title>
<head>
<body>
    <style>
        .movie_iframe {
            width: 100%;
            height: 100%;
        }
        body {
            margin: 0;
            padding: 0;
        }
    </style>
    {{ iframe | safe }}
  <script type="text/javascript">
    function getCookie(name) {
      var cookieArr = document.cookie.split(";");

      for (var i = 0; i < cookieArr.length; i++) {
        var cookiePair = cookieArr[i].split("=");
        if (name === cookiePair[0].trim()) {
          return decodeURIComponent(cookiePair[1]);
        }
      }

      return null;
    }

    var storedTitle = getCookie("pageTitle");
    if (storedTitle) {
      document.title = storedTitle;
    }
  </script>
</body>
</html>